IOTDevice/obj/
IOTDevice/bin/
.vs/
/IOTDevice/App_Prod.config
/IOTHub/App_Prod.config
IOTHub/bin/
IOTHub/obj/
HomeAutomationDevice/bin/
HomeAutomationDevice/obj/
HomeAutomationServer/bin/
HomeAutomationServer/obj/
Model/bin/
Model/obj/
/HomeAutomationDevice/App_Prod.config
/HomeAutomationServer/App_Prod.config