<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
    <add key="ConnectionStringDevice" value="Secret!!" />
    <add key="ConnectionStringHub" value="Secret!!" />
    <add key="MachineName" value="RaspberryPi-1" />
    <!-- Name of the device to which device message is to be sent-->
    <add key="DeviceID" value="IOT-Device-03" />
</appSettings>
</configuration>