<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
    <add key="ConnectionString" value="HostName=PSIOTHub.azure-devices.net;DeviceId=IOT-Device-03;SharedAccessKey=9JpJWKHwVYvAFBfiaTkWbR6AEaBKJsTr9WMZzArfZMg=" />
    <add key="MachineName" value="Raspberrypi-1" />
</appSettings>
</configuration>